/*
Azul 1: #1b262c;
Azul 2: #0f4c75;
Azul 3: #3282b8;
Azul 4: #bbe1fa;
*/
html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(0deg, rgba(27,38,44,0.80) 0%, rgba(15,76,117,0.80) 53%, rgba(50,130,184,0.60) 82%), url(../img/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 110vh;
}
header{
	width: 30%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
header .contPhoto{
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #ffffff80;
}
header .contPhoto img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
header .title{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center; 
}
header .title h2{
	font-size: 3em;
	font-weight: 500;
}
header .title h1{
	font-size: 1.5em;
	font-weight: 300;
}
footer{
	width: 30%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
header nav{
	width: 100%;
	display: flex;
	justify-content: center;
}
header nav ul{
	display: flex;
	flex-direction: column;
	width: 80%;
	list-style: none;	
}
header nav ul li{
	padding: 5px 15px;
}
header nav ul li i{
	color: #ffffff90;
	font-size: 1em;
	padding-right: 3px;
}
header nav ul li a{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	transition: 300ms;
	text-decoration: none;
}
header nav ul li a:hover{
	padding-left: 15px;
	transition: 300ms;
	font-weight: 700;
}
footer .redes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
}
footer .redes a{
	color: #ffffff90;
	font-size: 2.3em;
	transition: 300ms;
}
footer .redes a:hover{
	color: #fefefe;
	transition: 300ms;
}
.blank{
	width: 70%;
	height: 100vh;
	background-color: #fefefe;
	overflow-y: scroll;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}
.blank::-webkit-scrollbar{
	width: 10px;
	background-color: #1b262c;
}
.blank::-webkit-scrollbar-thumb{
	background-color: #eeeeee;
	border: 2px solid #1b262c;
}
.blank::-webkit-scrollbar-thumb:hover{
	background-color: #eeeeeebd;
}
.sobreMi{
	width: 100%;
	color: #0f4c75;
	height: auto;
	background-color: #eeeeee;
	padding: 30px;
	position: relative;
	min-height: 100vh;
}
.sobreMi h3{
	font-size: 2.2em;
	text-align: center;
	margin: 20px 0;
	font-weight: 600;
}
.sobreMi p{
	padding: 15px;
	line-height: 1.5em;
	z-index: 10;
	font-family: 'Antic Slab', serif;
	font-weight: 400;
	font-size: 1.1em;
}
.sobreMi p a{
	display: block;
	text-align: center;
}
.sobreMi a i{
	margin-top: 15px;
	font-size: 1.3em;
	color: #1b262c;
	transition: 300ms;
}
.sobreMi a i:hover{
	padding-top: 5px;
	transition: 300ms;
}
.sobreMi img{
	padding: 20px;						
	float: right;
}
.sobreMi .wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%
}
.conocimientos{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	color: #fff;
	height: auto;
	background-color: #1b262c;
	padding: 30px;
	min-height: 100vh;
}
.conocimientos div{
	display: none ;
}
.conocimientos > h3{
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
}
.conocimientos > h3 span{
	font-weight: 600;
	font-size: 1.7em;
}
.conocimientos > h3 .alert{
	font-weight: 400;
	font-size: 1.3em;
	padding:0 1px;
}
.conocimientos h3 i{
	padding-right: 3px;
}
.conocimientos .menuConocimientos{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.conocimientos .menuConocimientos h3{
	padding: 10px 15px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #0f4c7590;
	transition: 300ms;
}
.conocimientos .menuConocimientos h3:hover{
	background: #0f4c7560;
	cursor: pointer;
	transition: 300ms;
}
.conocimientos .menuConocimientos .active{
	background-color: #3282b890;
}
.conocimientos .conocimiento{
	align-self: center;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	height: 60%;
	border:0.5px solid #ffffff70;
	padding: 30px;
}
.conocimientos .conocimiento p{
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}
.conocimientos .conocimiento img{
	width: 300px;
	opacity: 0.8;
}
.conocimientos .conocimiento .bigImg{
	width: 250px;
	padding: 15px;
}
.conocimientos .conocimiento ul{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 30px;
	height: 50%;
}


@media (max-width: 800px){
	header{
		width: 100%;
		order: 1;
	}
	footer{
		width: 100%;
		order: 3;
		background: linear-gradient(0deg, rgba(27,38,44,1) 0%, rgba(50,130,184,1) 100%);
	}
	.blank{
		width: 100%;
		order: 2;
		overflow: initial;
		height: auto;
	}
	.container{
		max-height: none;
	}
	.sobreMi{
		height: auto;
	}
	.sobreMi p{
		text-align: center;
	}
	.sobreMi img{
		width: 100%;
	}
	.conocimientos{
		height: auto;
		padding: 10px 0;
	}
	.conocimientos .menuConocimientos{
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}
	.conocimientos .conocimiento{
		width: 95%;
	}	
	.conocimientos .menuConocimientos h3 {
		padding: 10px 5px;
		display: inline-block;
		text-align: center;
		border-bottom: 1px solid #0f4c7590;
		transition: 300ms;
		font-size: 13px;
	}
	.conocimientos h3 i {
		padding-right: 1px;
		display: inline-block;
	}
}

.proyectos{
	width: 100%;
	color: #fff;
	height: 100vh;
	background-color: #eeeeee;
	text-align: center;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.proyectos > h3{
	font-size: 2.2em;
	text-align: center;
	font-weight: 600;
	color: #1b262c;
}

.proyectos .slide .item{
	position: relative;
	width: 100%;
	height: 400px;
	text-align: center;
}
.proyectos .slide .item img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	z-index: -1;
	transition: 300ms;
}
.proyectos .slide .item:hover img{
	opacity: 0.3;
	transition: 300ms;
}
.proyectos .slide .item .textSlide{
	margin: 0 auto;
	width: 60%;
	height: 80%;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #1b262c;
}
.proyectos .slide .item .textSlide h3{
	font-size: 1.7em;
}
.proyectos .slide .item .textSlide a{
	width: auto;
	padding: 10px 15px;
	color: #fff;
	background: #1b262c;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1em;
	border: 3px solid transparent;
}
.proyectos .slide .item .textSlide a:hover{
	border: 3px solid #fff;
}
.proyectos .slide .item:hover .textSlide{
	display: flex;
}
@media (max-width: 700px){
	.proyectos{
		padding: 30px;
	}
	.proyectos .slide .item{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 0.5px solid #0f4c75;
		height: auto;
		min-height: 400px;
	}
	.proyectos .slide .item img{
		position: relative;
		width: 100%;
		object-position: center;
		z-index: -1;
		transition: 300ms;
	}
	.proyectos .slide .item .textSlide{
		display: flex;
		margin: 20px auto;
	}
	.proyectos .slide .item .textSlide a,
	.proyectos .slide .item .textSlide h3,
	.proyectos .slide .item .textSlide p{
		margin: 10px auto;
	}
	.proyectos .slide .item:hover img{
		opacity: 1;
		transition: 300ms;
	}
}
.formacion{
	width: 100%;
	color: #fff;
	max-height: 100vh;
	background-color: #1b262c;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	padding-bottom: 50px;
}
.formacion > h3{
	font-size: 2.2em;
	margin: 20px 0;
}
.formacion .sliderFormacion{
	width: 80%;
	height: auto;
}
.formacion .sliderFormacion .itemForm{
	height: 150px;
	background-color: #fff;
	margin: 10px;
	color: #1b262c;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 2px;
}
.formacion .sliderFormacion .itemForm a{
	text-decoration: none;
	padding: 10px 15px;
	background-color: transparent;
	border: 1.5px solid #1b262c;
	color: #1b262c;
	transition: 300ms;
}
.formacion .sliderFormacion .itemForm a:hover{
	background-color: #1b262c;
	color: #fff;
	transition: 300ms;
}
.formacion .slick-prev::before,
.formacion .slick-next::before{
	color: #fff;
}
.contacto{
	width: 100%;
	color: #fff;
	height: 100vh;
	background-color: #ddd;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.contacto::before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	background: linear-gradient(to top, transparent, #1b262c);
	z-index: -1;
}
.contacto div{
	display: none ;
}
.contacto > h3{
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	margin-top: 30px;
}
.contacto > h3 span{
	font-weight: 600;
	font-size: 1.7em;
}
.contacto form{
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 10;
}
.contacto form input[type="text"],
.contacto form input[type="email"]{
	width: 350px;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 2px;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
}
.contacto form input[type="text"]:focus,
.contacto form input[type="email"]:focus{
	border: 2px solid #1b262c;
}
.contacto form textarea{
	width: 350px;
	min-width: 350px;
	max-width: 350px;
	height: 150px;
	min-height: 100px;
	max-height: 200px;
	font-family: 'Raleway', sans-serif;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 2px;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
}
.contacto form textarea:focus{
	border: 2px solid #1b262c;

}
.contacto form input[type="submit"]{
	padding: 10px 15px;
	background-color: #1b262c;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	border: 2px solid #1b262c;
}
.contacto form input[type="submit"]:hover{
	cursor: pointer;
}
.contacto .copy{
	display: inline-block;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	background-color: #1b262c;
}